*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.nav-main{
    background-color: #c8102e;
    padding: 2rem 0;
    position: static;
}
#site-title{
    font-family: sans-serif;
    color: #ffffff;
    font-size: 2.5rem;
}
.header-container{
    display: flex;
    padding: 0 10rem;
    align-items: center;
}
.header-list{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
}
.nav-link{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.1rem;
}
a{
    text-decoration: none;
}
a:hover{
    color: #DCD7C9;
}
li{
    list-style: none;
}
#tickets-title{
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    margin: 3rem 0;
}
.price-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-card{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(194, 79, 79, 0.575);
    padding: 20px;
    margin: 30px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}
.price-card h2{
    padding: 25px 0;
    font-size: 2.5rem;
}
.price-card:hover h2{
    color:#c8102e;
}
.fancy{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-top: 2rem;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}
.fancy:hover{
    background-color: #c8102e;
    color: #ffffff;
    box-shadow: 5px 5px 5px rgba(194, 79, 79, 0.575);
}
#shop-title{
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    margin: 3rem 0;
}
.shop-hover-container{
    position: relative;
    display: inline-block;
}
.shop-hover-container .shop-hover-text{
    visibility: hidden;
    width: 120px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
.shop-hover-container:hover .shop-hover-text{
    visibility: visible;
}
.shop-link{
    color: #000000;
    font-family: sans-serif;
    font-size: 1.1rem;
}
.shop-link-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-link-card{
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    outline: none;
    overflow: visible;
    padding: 200px 400px;
    position: relative;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
    max-width: 700px;
    max-height: 400px;
}
.shop-link-text{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.shop-link-text h2{
    padding: 25px 0;
    font-size: 3.5rem;
}
.shop-link-text h3{
    font-size: 1.5rem;
}
.shop-link-card:hover{
    background-color: #c8102e;
    color: #ffffff;
    box-shadow: 5px 5px 5px rgba(194, 79, 79, 0.575);
}
.overlay{
    width: 100%;
    height: 100vh;
    color: blue;
}
.closebtn:hover{
    cursor: pointer;
}

footer{
    flex-shrink: 0;
    text-align: center;
    margin-top: auto;
    background-color: #F5ECE0;
    padding: 10px;
    font-size: 15px;
}