.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), 
                    url('./images/coasterbackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 1rem;
}
#login-title {
  font-family: sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #c8102e; 
}
/* Styling for the login form */
.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.85); /* Slightly transparent */
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
}
.form-group input {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box; /* Prevent overflow */
}
.form-group input:focus {
  border-color: #c8102e;
  outline: none;
}
/* Button Styles */
.role-selection button{
    width: 100%;
}
.employee-login {
  background-color: #4a4a4a;
  color: white;
}
.employee-login:hover {
  background-color: #333;
}
.back-button {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #f0f0f0;
  color: #c8102e;
  border: 2px solid #c8102e;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: fit-content;
  align-self: center;
}
.back-button:hover {
  background-color: #c8102e;
  color: #fff;
}
.login-container p {
  margin-top: 2rem;
  font-size: 1rem;
  color: #333;
}
.login-container p a {
  color: #c8102e;
  text-decoration: none;
  font-weight: 600;
}
.login-container p a:hover {
  text-decoration: underline;
}